@model CrmEarlyBound.task01_order_002

<h2>Edit @Model.task01_name Order</h2>

@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @Html.HiddenFor(model => model.Id)


        <div class="form-group">
            Customer Name:
            <div class="col-md-10">
                @Html.EditorFor(model => model.task01_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.task01_name, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            Discount (%):
            <div class="col-md-10">
                @if (@ViewBag.Order.task01_orderstatus_002 == CrmEarlyBound.task01_order_002_task01_orderstatus_002.Checkout)
                {
                    @Html.EditorFor(model => model.task01_discount_002, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.task01_discount_002, "", new { @class = "text-danger" })
                }
                else
                {
                    @Html.EditorFor(model => model.task01_discount_002, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.task01_discount_002, "", new { @class = "text-danger" })
                }
            </div>
        </div>
        <br />

        @Html.HiddenFor(model => model.task01_order_002id)


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-sm" />
            </div>
        </div>
    </div>
}
<br />
<div>
    @Html.ActionLink("Add Meal", "CreateForthesameorder","Order", new { Id = @ViewBag.Order.task01_order_002id }, new { @class = "btn btn-sm" })
</div>

<br />
<div>
    @Html.ActionLink("Back to Order List", "Index", null, new { @class = "btn btn-sm" })
</div>

