@model CrmEarlyBound.task01_Food_02

@using (Html.BeginForm()) 
{
    @*@Html.AntiForgeryToken()*@
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Food Name:
            <div class="form-group">
                @Html.EditorFor(model => model.task01_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.task01_name, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-group">
            Unit Price:
            <div class="form-group">
                @Html.EditorFor(model => model.task01_price.Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.task01_price.Value, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            Creation Date:
            <div class="form-group">
                @{
                    DateTime today = DateTime.Today;
                }
                @Html.EditorFor(model => model.createdon, new { htmlAttributes = new { @class = "form-control",@readonly = "readonly", @Value = today.ToString("yyyy-MM-dd") } })
                @Html.ValidationMessageFor(model => model.createdon, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class = "btn btn-sm" />
            </div>
        </div>
    </div>
}

<br />
<div>
    @Html.ActionLink("Back to Food List", "Index", null, new { @class = "btn btn-sm" })
</div>

