@model CrmEarlyBound.task01_meal02

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>task01_meal02</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogicalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogicalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasLazyFileAttribute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasLazyFileAttribute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LazyFileAttributeKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LazyFileAttributeKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LazyFileSizeAttributeKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LazyFileSizeAttributeKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LazyFileSizeAttributeValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LazyFileSizeAttributeValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exchangerate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exchangerate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importsequencenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importsequencenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifiedon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifiedon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.overriddencreatedon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.overriddencreatedon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.task01_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task01_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.task01_newid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task01_newid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.task01_quantity02)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task01_quantity02)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timezoneruleversionnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timezoneruleversionnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.utcconversiontimezonecode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.utcconversiontimezonecode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.versionnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.versionnumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
